.pendu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
  user-select: none;
  text-align: center;
  justify-content: center;
}

.replay {
  width: 100px;
  height: 60px;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: auto;
  vertical-align: center;
  cursor: pointer;
}

.replay > .refresh {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
}

.pendu > .mistakes {
  height: 30px;
  width: 120px;
  background-color: #eee;
  outline: 0.07em colid blue;
}